body {
  font-family: "Manrope", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/181/083/original/sergey-kotenev-l4U1u0bso6E-unsplash.jpg?1785717999");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  opacity: 0.8;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #1d1e1e;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #1d1e1e;
}

.form-container {
  background-color: #afac93;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 30px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 20px;
  width: 80%;
  font-size: 16px;
  color: #1d1e1e;
}

.submit-button {
  margin-left: 10px;
  background-color: #3c3d3c;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}

.hint {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.8;
  color: #1d1e1e;
}

.recipe {
  font-size: 16px;
  background-color: #afac93;
  padding: 20px;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #1d1e1e;
}

a {
  color: #557174;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
